<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test0105">

    <application
        android:allowBackup="true"
        android:icon="@drawable/img02"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img02"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test0105">
        <activity
            android:name=".Samok"
            android:exported="false" />
        <activity
            android:name=".Game"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".cal"
            android:exported="true"> <!--진입점-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>